@import './common';


.login{
border-radius: 16px;
  background: #F1F2F4;
  border-bottom: 2px solid #C5C5C8;
  border-radius: 5px;
  text-align: center;
  color: #36383C;
  max-width: 370px;
  margin: 100px auto;
  padding: 15px 40px 20px 40px;
}

.input{
      width: 290px;
  background: #E5E7E9;
  border-radius: 5px;
  overflow: hidden;
  border-bottom: 1px solid #FFF;
}
input{
      text-align: center;
  width: 260px;
  background: transparent;
  border: 0;
  line-height: 3.6em;
  box-sizing: border-box;
  color: #71747A;
  font-family:'Open Sans', Arial, sans-serif;
  text-shadow: 0 1px 0 #FFF;
}
input:focus{
  outline: none;
}
input::placeholder{
padding-left: 10px;
}

.blockinput{
  border-bottom: 1px solid #BDBFC2;
  border-top: 1px solid #FFFFFF;
}
.blockinput:first-child{
  border-top: 0;
}
.blockinput:last-child{
  border-bottom: 0;
}

button{
  margin-top: 20px;
  display: block;
  width: 100%;
  line-height: 2em;
  background: rgba(114,212,202,1);
  border-radius: 5px;
  border:0;
  cursor: pointer;
  border-top: 1px solid #B2ECE6;
  box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
  color: #FFFFFF;
  font-size: 1.5em;
  text-shadow: 0 1px 2px #21756A;
}
button:hover{
 background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);  
}
